
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

* {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: 'jakarta';
  src: url('./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
}

@theme {
  --font-plus : 'jakarta'
}