
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: jakarta;
  src: url('./assets/Playwrite_AT/PlaywriteAT-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-mi: 'jarkata', 'system-ui';
}
